<%- include('../partials/admin-head') %>
<%- include('../partials/admin-sidebar') %>
<%- include('../partials/admin-navbar') %>
<h6 class="mt-4 mb-3">Edit Products</h6>
<section class="col-xl-10">
    <div class="container">
        <div class="row">
            <div class="col">
                <form>
                    <!-- 2 column grid layout with text inputs for the first and last names -->
                    <div class="row mb-4">
                      <div class="col">
                        <div class="form-outline">
                          <input type="text" id="form6Example1" class="form-control" />
                          <label class="form-label" for="form6Example1">Category</label>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-outline">
                          <input type="text" id="form6Example2" class="form-control" />
                          <label class="form-label" for="form6Example2">Brand</label>
                        </div>
                      </div>
                    </div>
                  
                    <!-- Text input -->
                    <div class="form-outline mb-4">
                      <input type="text" id="form6Example3" class="form-control" />
                      <label class="form-label" for="form6Example3">Title</label>
                    </div>
                  
                    <!-- Text input -->
                    <div class="form-outline mb-4">
                      <input type="text" id="form6Example4" class="form-control" />
                      <label class="form-label" for="form6Example4">Description</label>
                    </div>
                  
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                      <input type="number" id="form6Example5" class="form-control" />
                      <label class="form-label" for="form6Example5">Price</label>
                    </div>
                  
                    <!-- Number input -->
                    <div class="form-outline mb-4">
                      <input type="number" id="form6Example6" class="form-control" />
                      <label class="form-label" for="form6Example6">Stock</label>
                    </div>

                    <!-- Image Input -->
                    <label class="form-label pt-1" for="form6Example6">Product Image</label>
                    <div class="form-group border p-2 mb-3">
                        
                        <input type="file" class="form-control-file" id="exampleFormControlFile1">
                        
                      </div>
                      
                  
                  
                    <!-- Message input -->
                    <div class="form-outline mb-4">
                      <textarea class="form-control" id="form6Example7" rows="4"></textarea>
                      <label class="form-label" for="form6Example7">Additional information</label>
                    </div>
                   
                  
                      
                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-block mb-4 float-end">Submit</button>
                  </form>
            </div>
        </div>
    </div>
</section>
<%- include('../partials/admin-foot') %>